body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth; /* Add smooth scrolling */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    margin-left: auto;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

section {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.section-light {
    background-color: #f4f4f4;
}

.section-dark {
    background-color: #ddd;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content, .education-content {
    max-width: 800px;
    margin: 20px;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.about-content p {
    max-width: 400px;
    margin-right: 20px;
}

.about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.education-content ul {
    padding-left: 20px; /* Adjusted padding */
    list-style-position: inside;
}

.education-content li {
    text-align: left;
}

.section-header, .subsection-header {
    margin-top: 20px;
    text-align: center;
}

section h2, section h3 {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #8d8d8d;
    color: #fff;
    position: relative;
    width: 100%;
}
